/**
 * This file has been created automatically by Uni CPO plugin
 * Last modified time: Jun 30 2020, 04:22:38
 */


        .uni-node-8cb03d1f .uni-row-content-wrap {
				 color: #333333;																																				 padding-top: 20px; 						        }
				            .uni-node-8cb03d1f .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-d168526c {
		 float: left;		 width: 100%; 								        }
        .uni-node-d168526c .uni-col-content {
																						        }

		

        .uni-node-5a9c1c97 {
															 font-weight: 700;			 font-size: 18px; 									 margin-top: 0px; 			 margin-bottom: 0px; 			 margin-left: 0px; 			 margin-right: 0px; 						 padding-bottom: 20px; 						        }

		

        .uni-node-a09a6af8 {
                                                        }

                    .uni-node-a09a6af8 .uni-cpo-module-text_input-label {
                                                                                            }
        
        .uni-node-a09a6af8 input[type="text"], .uni-node-a09a6af8 input[type="number"] {
			 width: 100%!important; max-width: 100%!important;			 height: 36px!important; min-height: 36px!important;																								 border-top: 1px solid #d7d7d7!important; 			 border-bottom: 1px solid #d7d7d7!important; 			 border-left: 1px solid #d7d7d7!important; 			 border-right: 1px solid #d7d7d7!important; 			 border-radius: 5px!important; 									 padding-left: 14px!important; 			 padding-right: 14px!important;         }

		

        .uni-node-a4f962b7 {
		 float: left;		 width: 100%; 		 margin-top: 20px; 						        }
        .uni-node-a4f962b7 .uni-col-content {
																		 padding-bottom: 20px; 				        }

		

        .uni-node-aaf74b83 {
                                                        }

                    .uni-node-aaf74b83 .uni-cpo-module-text_input-label {
                                 text-align: left!important; display: block;                                                             }
        
        .uni-node-aaf74b83 input[type="text"], .uni-node-aaf74b83 input[type="number"] {
			 width: 100%!important; max-width: 100%!important;			 height: 36px!important; min-height: 36px!important;																								 border-top: 1px solid #d7d7d7!important; 			 border-bottom: 1px solid #d7d7d7!important; 			 border-left: 1px solid #d7d7d7!important; 			 border-right: 1px solid #d7d7d7!important; 			 border-radius: 5px!important; 									 padding-left: 14px!important; 			 padding-right: 14px!important;         }

		

